<mat-form-field [hintLabel]="hint" appearance="outline" *ngIf="datosFiltrados">
    <mat-label>{{placeholder}}</mat-label>
    <mat-select [formControl]="control" [compareWith]="compareObjects" [multiple]="multiple"
        (openedChange)="toggledSelect($event)">

        <div *ngIf="buscador">
            <input placeholder="Escribe..." [formControl]="controlInput" matInput type="text"
                (keyup)="search($event.target['value'])" (keydown)="$event.stopPropagation()" autocomplete="off">
        </div>

        <mat-option *ngIf="datosFiltrados.length === 0">Sin resultados</mat-option>

        <mat-option *ngFor="let dato of datosFiltrados" [value]="this.value ? dato[value] : dato">
            {{
            label && !secondLabel ? dato[label] :
            secondLabel ? dato[label] + ' - ' + dato[secondLabel] :
            dato
            }}</mat-option>
    </mat-select>

    <button *ngIf="control.value && !control.disabled" [disabled]="control.disabled" matSuffix mat-icon-button type="button"
        aria-label="Clear" (click)="reinicia();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
    </button>

    <mat-error matErrorMessages></mat-error>
</mat-form-field>