p {
  font-family: Lato;
}

input {
  background: #ffffff;
  height: 50px;
  // padding: 0 16px;
}

div {
  background-color: #ffffff;
  padding-left: 16px;
}
mat-form-field {
  width: 100%;
}
button{
bottom: 14px;
vertical-align: text-top;

}
mat-icon{
  color: rgba(0,0,0,.54);
  font-size: 18px!important;
  line-height: 1!important;

}

.mat-option{
  white-space: unset!important;
  overflow: unset!important;
  text-overflow: ellipsis!important;
  height: unset!important;
  line-height: 1.2!important;
  padding: 12px;
}
