<!--Formulario generado con el modelo Formulario-->
<h2 mat-dialog-title>{{formulario.titulo}}</h2>
<mat-dialog-content>
    <form *ngIf="tableForm" enctype="multipart/form-data" [formGroup]="tableForm">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <ng-container *ngFor="let atributo of modeloDato;let i = index;">
                <ng-container [ngSwitch]="formulario.controles[atributo].tipo">
                    <!--Control de Texto-->
                    <mat-form-field class="eleFormulario" *ngSwitchCase="'texto'" appearance="outline"
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex">
                        <mat-label>{{visualDato[i]}}</mat-label>
                        <input matInput [formControlName]="atributo"
                            [conversion]="formulario.controles[atributo].subFormato"
                            [maxlength]="tableForm.get(modeloDato[i]).errors?.maxlength ? tableForm.get(modeloDato[i]).errors?.maxlength.requiredLength : null">
                        <mat-error matErrorMessages></mat-error>
                    </mat-form-field>
                    <!--Control de Número-->
                    <mat-form-field class="eleFormulario"
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex"
                        *ngSwitchCase="'numero'" appearance="outline">
                        <mat-label>{{visualDato[i]}}</mat-label>
                        <input matInput conversion="numero" currencyMask
                             [formControlName]="atributo">
                        <mat-error matErrorMessages></mat-error>
                    </mat-form-field>
                    <!--Control de Checkbox -->
                    <mat-checkbox class="eleFormulario"
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex"
                        *ngSwitchCase="'checkbox'" [formControlName]="atributo">
                        {{formulario.controles[atributo].label}}</mat-checkbox>
                    <!--Control de Fecha-->
                    <mat-form-field
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex"
                        *ngSwitchCase="'fecha'" appearance="outline" class="eleFormulario">
                        <mat-label>{{visualDato[i]}}</mat-label>
                        <input matInput [formControlName]="atributo" [matDatepicker]="picker" placeholder="dd/mm/aaaa">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error>La fecha es inválida</mat-error>
                    </mat-form-field>
                    <!--Control de Select-->
                    <mat-form-field
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex"
                        *ngSwitchCase="'select'" appearance="outline" class="eleFormulario">
                        <mat-label>{{visualDato[i]}}</mat-label>
                        <mat-select [formControlName]="atributo">
                            <!--Select básico-->
                            <ng-container *ngIf="formulario.controles[atributo].value === 'valVal';else labeled">
                                <mat-option *ngFor="let valor of formulario.controles[atributo].listado"
                                    [value]="valor">
                                    {{valor}}
                                </mat-option>
                            </ng-container>
                            <!--Select de objetos-->
                            <ng-template #labeled>
                                <mat-option *ngFor="let valor of formulario.controles[atributo].listado"
                                    [value]="formulario.controles[atributo].value === 'all' ? valor : valor[formulario.controles[atributo].value]">
                                    {{valor[formulario.controles[atributo].label] +
                                    (formulario.controles[atributo].secondLabel ?
                                    valor[formulario.controles[atributo].secondLabel] ? ' - ' +
                                    valor[formulario.controles[atributo].secondLabel] : '' : '')}}
                                </mat-option>
                            </ng-template>

                        </mat-select>
                        <mat-error matErrorMessages></mat-error>
                    </mat-form-field>
                    <!--Control de Select Booleano-->
                    <mat-form-field
                        [fxFlex]="formulario.controles[atributo].fxFlex ? formulario.controles[atributo].fxFlex : fxFlex"
                        *ngSwitchCase="'selectBoolean'" appearance="outline" class="eleFormulario">
                        <mat-label>{{visualDato[i]}}</mat-label>
                        <mat-select [formControlName]="atributo">
                            <mat-option [value]="true">Si</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error matErrorMessages></mat-error>
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </div>
    </form>
    <p *ngIf="!tableForm">No se ha podido iniciar el formulario correctamente.</p>
</mat-dialog-content>
<mat-dialog-actions align='end' *ngIf="!soloLectura else noEditable">
    <button mat-raised-button color="accent" class="btnCancelar" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Aceptar</button>
</mat-dialog-actions>

<ng-template #noEditable>
    <mat-dialog-actions align='end'>
        <button mat-raised-button color="accent" class="btnCerrar" (click)="close()">Cerrar</button>
    </mat-dialog-actions>
</ng-template>