<ng-container [ngSwitch]="formato">
    <span *ngSwitchCase="'numero'" currencyMask class="number">
        {{campo | number }}
    </span>
    <span *ngSwitchCase="'euro'" currencyMask class="number">
        {{campo | number : '1.2' }}€
    </span>
    <span *ngSwitchCase="'porcentaje'" currencyMask class="number">
        {{campo| number }}%
    </span>
    <span *ngSwitchCase="'texto'" matTooltip="{{campo}}" [matTooltipHideDelay]="500"
        class="elmentText">
        {{campo}}
    </span>
    <span *ngSwitchCase="'boolean'">
        <span *ngIf="campo === 'true' || campo === true">Si</span>
        <span *ngIf="campo === 'false' || campo === false">No</span>
    </span>
    <span *ngSwitchCase="'date'">
        {{campo | date: 'dd/MM/yyyy'}}
    </span>
    <span *ngSwitchCase="'dateTime'">
        {{campo | date: 'dd/MM/yyyy HH:mm'}}
    </span>
    <span class="elmentDefault" *ngSwitchDefault>
        {{campo}}
    </span>
</ng-container>