::ng-deep{
    .ngx-charts text { 
        fill: #fff!important;
        font-size: large!important;
        box-shadow: 2px 2px 2px rgba(206,89,55,0)!important;
     }
}

div{
    height: 100%;
    width: 100%;
}