.example-sidenav-content {
    height: 100%;
    padding: 1.5vw;
}

mat-toolbar {
    height: 6vh;
}
.example-container {
    height: 94vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.elementoBarra{
    border-bottom: 2px solid black;
    padding: 12px 24px;
    margin-bottom: 2vh;
    cursor: pointer;
}

mat-form-field{
    width: 50%;
}
.centro{
    margin: auto;
}

